<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>SocketIO example</title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script type="text/javascript">
         $(document).ready(function() {
         
           // sending a connect request to the server.
           var socket = io.connect('http://127.0.0.1:5000');
         
           socket.on('load page', function(msg) {
               console.log('load page', msg);
               document.getElementById("title").innerText = msg.title;
               document.getElementById("description").innerText = msg.description;
               let log = document.getElementById("log");
               log.innerHTML = "";
               for(let subteam in msg.content) {
                  log.innerHTML += "<H2>"+subteam+"<\H2>";
                  for(let task of msg.content[subteam]) {
                     console.log(task)
                     log.innerHTML += '<input type="checkbox" id="vehicle1" name="vehicle1" value="' + task + '"><label for="vehicle1">' + task + '</label><br>'
                     
                  }
               }
          });        
         });
      </script>
   </head>
   <body>
      <div class="container-fluid border text-center">
         <h1 id="title">Title Page</h1>
         <p id="description">description</p>
      </div>
    <div id="log"></div>
   </body>
</html>